<div class="container-fluid dasboard-container">
    <div class="row btn-module-container">
        <div class="hidde-xs hidden-sm col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2" ng-repeat="module in modules">
            <button class="btn btn-block btn-lg btn-module" ng-class="{'selected': activeModule.module - 1 === $index}" ng-click="changeActiveModule($index)"
                ng-disabled="currentTimes[$index] != '(disponible)'">
                <h4>Module {{module.module}}</h4>
                <div class="title">
                    <small>{{module.title}} {{currentTimes[$index]}}</small>
                </div>
            </button>
        </div>
        <div class="hidde-xs hidden-sm col-md-1 col-lg-1"></div>
    </div>
    <ui-view></ui-view>
</div>