<div class="row">
    <div class="hidde-xs hidden-sm col-md-1 col-lg-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <div class="thumbnails-container elevation-3">
            <div class="title-bar">
                <b>Module {{activeModule.module}}:</b> {{activeModule.title}} | {{activeModule.subTitle}}
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3" ng-repeat="video in activeModule.videos" ng-click="openPlayer($index)">
                        <div class="thumbnail elevation-2">
                            <div class="img">
                                <div class="overlay"></div>
                                <img ng-src="{{'https://img.youtube.com/vi/'+video.key+'/0.jpg'}}" alt="img" class="img-responsive">
                            </div>
                            <div class="title">
                                <small ng-bind-html="video.title"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 15px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                        <a href="{{btn.link}}"target="_blank" ng-repeat="btn in activeModule.buttons">
                            <button class="btn btn-primary call-to-btn">{{btn.title}}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidde-xs hidden-sm col-md-1 col-lg-1"></div>
</div>
<div class="askQuesContainer" ng-show="activeModule.module === 1">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 remove-padding">
            Il vous reste une question ? Posez la ici :
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6">
            <input type="text" name="question" id="askQues" class="form-control" ng-model='question' ng-change="onQuestionTyped()">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <button class="btn btn-primary btn-sm btn-block" ng-disabled="enableQuesSend" ng-click="sendQuestion()">
                Envoyer
            </button>
        </div>
    </div>
</div>
<div class="footer">
    <p class="blink">Offre exceptionnelle « Diplôme de gestion de base GARANTI » : encore valable 3j, 20h, 34min, 15s</p>
    <a ui-sref="dashboard.offer" class="btn btn-primary btn-sm">
        En savoir plus
    </a>
</div>