<div class="row">
    <div class="hidde-xs hidden-sm col-md-1 col-lg-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <div class="offer-container elevation-3">
            <div class="title-bar">
                Offre exceptionnelle
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="video elevation-3">
                            <iframe width="100%" height="279px"  ng-src="{{trustSrc ('https://www.youtube.com/embed/'+offerData.video.key+'?rel=0')}}"  frameborder="0" allow="autoplay; encrypted-media"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div ng-repeat="set in offerData.sets" ng-bind-html="set"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hidde-xs hidden-sm col-md-1 col-lg-1"></div>
</div>
<div class="footer text-center">
    <p class="blink">{{offerData.offerLable}}</p>
    <a href="{{offerData.offerLink}}" target="_blank" style="text-decoration:none">
        <button class="btn btn-primary btn-sm">
            {{offerData.offerButtonText}}
        </button>
    </a>
</div>