<div class="row">
    <div class="hidde-xs hidden-sm col-md-1 col-lg-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <div class="offer-container elevation-3">
            <div class="title-bar">
                Offre exceptionnelle
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="video elevation-3">
                            <iframe width="100%" height="279px" src="https://www.youtube.com/embed/n-8eoS7gOsc" frameborder="0" allow="autoplay; encrypted-media"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Valeur totale 2.000€</div>
                            <div class="panel-body">
                                <ul>
                                    <li>Syllabus en version papier (valeur totale : 150€) Cours en groupe à volonté (valeur :
                                        1.000€)
                                    </li>
                                    <li>Cours en vidéo à volonté (valeur : 150€) 100 exercices d’examen en vidéo (valeur : 150€)</li>
                                    <li>2 heures de cours particuliers (valeur : 120€) 6 simulations d’examen (valeur : 150€)
                                        Inscription
                                    </li>
                                    <li>en priorité à l’examen (valeur : 120€) Conseils d’étudiants qui ont réussi l’examen (valeur:
                                        160€)
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">Garanties <span class="badge elevation-2">1.000€
</span></div>
                            <div class="panel-body">
                                <ul>
                                    <li>garantie 1 : vous ne payez que si vous réussissez votre examen (valeur inestimable</li>
                                    <li>garantie 2 : vous aurez une date d’examen dans maximum 4 semaines (valeur inestimable)</li>
                                    <li>garantie 3 : vous aurez votre</li>
                                    <li>diplôme de gestion de base dans 4 mois maximum (valeur inestimable)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidde-xs hidden-sm col-md-1 col-lg-1"></div>
</div>
<div class="footer">
    <p class="blink">Plus que 03J, 20h, 04min, 15sec pour</p>
    <button class="btn btn-primary btn-sm">
        profiter de cette offre
    </button>
</div>