<div class="row">
    <div class="hidde-xs hidden-sm col-md-1 col-lg-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <div class="player-container elevation-3">
            <div class="title-bar">
                <b>Module {{CurrentModule.module}}: </b> {{CurrentModule.title}} | {{CurrentModule.subTitle}}
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="video elevation-3">
                            <iframe width="100%" height="580px" ng-src="{{trustSrc ('https://www.youtube.com/embed/'+videokey+'?rel=0&autoplay=1')}}" frameborder="0" allow="autoplay; encrypted-media"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidde-xs hidden-sm col-md-1 col-lg-1"></div>
</div>
<div class="footer">
    <p class="blink">Offre exceptionnelle « Diplôme de gestion de base GARANTI » : encore valable 3j, 20h, 34min, 15s</p>
    <a ui-sref="dashboard.offer" class="btn btn-primary btn-sm">
        En savoir plus
    </a>
</div>